.iti__flag {
    background-image: url("../../lib/intltelinput/build/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../../lib/intltelinput/build/img/flags@2x.png");
    }
}

.iti {
    position: relative;
    display: block;
}
